:root {
	--color-black: #000;
	--color-white: #fff;
	--color-dark-grey: #4a4a4a;
	--color-light-grey: #f2f2f2;
	--color-medium-grey: #d9d9d9;
	--color-purple: #7500eb;
	--color-blue: #00a3ff;

	--color-light-green: #dcf8d7;
	--color-lime: #ecffa2;
	--color-green: #9bec8e;
	--color-dark-green: #17634e;

	--color-orange: #ef8232;
	--color-red: #ff98aa;
	--color-pink: #ffe0e5;

	--bg-low: var(--color-dark-grey);
	--bg-medium: var(--color-light-grey);

	--text-primary: var(--color-white);
	--text-secondary: var(--color-black);

	--font-xxxl: 8.75rem;
	--font-xxl: 5.625rem;
	--font-xl: 2.625rem;
	--font-l: 1.5rem;
	--font-m: 1.25rem;
	--font-s: 1rem;

	--lh-xxxl: 10.5rem;
	--lh-xxl: 6.75rem;
	--lh-xl: 3.125rem;
	--lh-l: 1.75rem;
	--lh-m: 1.75rem;
	--lh-s: 1.25rem;
}

* {
	box-sizing: border-box;
	word-wrap: break-word;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	margin: 0;
	padding: 0;
	background: none;
	border: none;

	text-transform: none;
	text-align: inherit;
	overflow: visible;
	-webkit-appearance: button;
	&:hover {
		cursor: pointer;
	}
}

body {
	font-family: 'Figtree', sans-serif;
	background-color: var(--bg-low);
	color: var(--text-primary);
	font-size: var(--font-m);
	min-width: 320px;
	max-width: 100vw;
	min-height: 100vh;
	color: var(--text-primary);
}

a {
	color: inherit;
}

.info-card {
  border-radius: 25px;
  padding: 1rem;
}

.info-card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 11px;
  border: 2px solid;
  padding: 1.5rem;
}

.liberate-card {
  position: relative;
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
  overflow: hidden;
}

.shadow {
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%, transparent);
  z-index: -1;
}
