@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

:root {
  /* Dark background color */
  --color-dark-grey: #1a1a1a;
  --color-medium-grey: #2b2b2b; 
  --color-red-dark: #8B0000;
  --color-red-medium: #B22222;
  --color-red-light: #FF0000;
  --color-gold: #FFD700;
  --color-orange-red: #FF4500;
  --color-red: #B22222;

  --bg-low: var(--color-dark-grey);
  --bg-medium: var(--color-medium-grey);

  --text-primary: var(--color-gold);
  --text-heading: var(--color-red-dark);

}

body {
  font-family: 'Helvetica', sans-serif;
  background-color: var(--bg-low);
  color: var(--text-primary);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-heading);
}

a {
  color: var(--color-red-medium);
}
